<div class="center ph3-ns">
  <div class="cf ph2-ns mt3 mb3 flex flex-wrap">
    <div class="fl w-100 w-70-ns pa3 order-last order-0-ns">
      <p class="f5 mb0 code">Issue 07.02.2020 // Częstochowa</p>
      <h1 class="f1 sans-serif ttu mt0 mb0">Wide Smiles #11</h1>
    </div>

    <div class="fl w-100 w-30-ns pa3 order-0 order-1-ns dn di-ns">
      <a href="/"><%= image_tag 'logo.svg', size: '60x60', class: 'fr' %></a>
    </div>
  </div>
</div>

<div class="mw8-ns center pa3 ph5-ns main-content">
  <%= render_elements %>
</div>
